<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jangan Pakai Sembarang SKINCARE. Pastikan Product Jelas Secara LEGALITAS ! Serta Paham KANDUNGAN Isi Product! Efek samping pemakaian krim murah abal-abal belum lolos uji legalitas BPOM :
  Memang hasilnya gak usah diragukan lagi, krim bermercury sudah pasti hasilnya instan. Dalam waktu seminggu atau dua minggu, kulit sudah terlihat putih, jerawat hilang, kulit tampak halus dan pori-pori mengecil. Hasil instan ini membuat banyak wanita puas, padahal ada bahaya yang sangat besar mengancam kesehatan mereka yang memakai cosmetic yang mengandung mercury ini.">
  <title>NMG Skin Care</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
  <link rel="stylesheet" href="assets/css/style.css?v=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div id="app">
    <header class="bg-gray-100">
      <div class="container pt-14 lg:pt-32 text-center pb-5 lg:pb-10">
        <img class="mx-auto w-60 mb-10 lg:mb-20" src="assets/images/logo.png" alt="logo" />
        <h2 class="font-semibold text-dark text-base lg:text-xl">Bingung sudah mencoba berbagai <span class="uppercase text-tertiary">Skincare</span> dari yang Mahal sampai yang Murah tapi <span class="uppercase text-tertiary">Tidak</span> Berhasil?</h2>
        <h2 class="font-semibold text-dark text-base lg:text-xl mt-3 lg:mt-4">Bukannya Kulit jadi <span class="uppercase text-tertiary">Glowing</span> malah Dompet jadi semakin <span class="uppercase text-tertiary">Kering</span>.</h2>

        <h1 class="font-semibold text-xl lg:text-2xl mt-14 lg:mt-20 text-dark"><span class="font-bold text-tertiary">NMG SKIN CARE</span> Dengan Kandungan <span class="font-bold text-tertiary">Caviar Extract</span> Kini Hadir Untukmu!</h1>
        <img class="w-full lg:w-1/3 mt-10 mx-auto" src="assets/images/BA Tika 1.jpg" alt="Tika Pragaki" />
      </div>
    </header>
    <section class="bg-quaternary pt-5 lg:pt-10 pb-5 lg:pb-10">
      <div class="container">
        <h1 class="font-bold text-center text-2xl lg:text-3xl text-dark uppercase">Apakah ini yang sedang kamu alami ?</h1>
        <div class="flex justify-center">
          <video class="rounded-md px-10 py-10 w-full lg:w-1/4 sos" data-animate-type="animate-fade-in" autoplay loop controls muted controlsList="nodownload">
            <source src="assets/videos/Real Testi Admin Vita.mp4" type="video/mp4" autoplay controls muted loop controlsList="nodownload">
          </video>
        </div>
        <div class="flex flex-col lg:flex-row items-center justify-center lg:gap-5 mt-5">
          <div class="ml-10 lg:ml-0 w-full lg:w-1/3">
            <div class="flex items-center mb-2 text-red-500">
              <svg class="fill-current" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"/></svg>
              <h2 class="font-semibold text-base lg:text-xl text-dark ml-2"> Wajah kusam ?</h2>
            </div>
            <div class="flex items-center mb-2 text-red-500">
              <svg class="fill-current" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"/></svg>
              <h2 class="font-semibold text-base lg:text-xl text-dark ml-2"> Skin Barierr rusak ?</h2>
            </div>
            <div class="flex items-center mb-2 text-red-500">
              <svg class="fill-current" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"/></svg>
              <h2 class="font-semibold text-base lg:text-xl ml-2 text-dark">Timbul banyak flek hitam di wajah ?</h2>
            </div>
          </div>
          <div class="ml-10 lg:ml-0 w-full lg:w-1/3">
            <div class="flex items-center mb-2 text-red-500">
              <svg class="fill-current" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"/></svg>
              <h2 class="font-semibold text-base lg:text-xl text-dark ml-2">Wajah berjerawat ?</h2>
            </div>
            <div class="flex items-center mb-2 text-red-500">
              <svg class="fill-current" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"/></svg>
              <h2 class="font-semibold text-base lg:text-xl text-dark ml-2">Timbul jerawat ?</h2>
            </div>
            <div class="flex items-center mb-2 text-red-500">
              <svg class="fill-current" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"/></svg>
              <h2 class="font-semibold text-base lg:text-xl text-dark ml-2">Wajah berminyak ?</h2>
            </div>
          </div>
          <div class="ml-10 lg:ml-0 w-full lg:w-1/3">
            <div class="flex items-center mb-2 text-red-500">
              <svg class="fill-current" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"/></svg>
              <h2 class="font-semibold text-base lg:text-xl text-dark ml-2">Warna kulit tidak rata ?</h2>
            </div>
            <div class="flex items-center mb-2 text-red-500">
              <svg class="fill-current" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"/></svg>
              <h2 class="font-semibold text-base lg:text-xl text-dark ml-2">Kerutan & garis halus ?</h2>
            </div>
            <div class="flex items-center mb-2 text-red-500">
              <svg class="fill-current" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"/></svg>
              <h2 class="font-semibold text-base lg:text-xl text-dark ml-2">Kulit Iritasi & Tipis ?</h2>
            </div>
          </div>
        </div>
        <p class="text-dark font-semibold text-base lg:text-xl text-center mt-5">Jika beberapa poin diatas yang sedang kamu alami saat ini, <span class="uppercase text-tertiary">Selamat!!!</span> Kamu sudah ada pada halaman yang benar. Teruskan membaca ya !</p>
      </div>
    </section>
    <section class="bg-gray-100 pt-5 lg:pt-10 pb-5 lg:pb-10">
      <div class="container">
        <h1 class="font-semibold text-center text-base lg:text-xl px-5 text-dark">Jangan Pakai Sembarang <span class="text-tertiary uppercase">Skincare</span>. Pastikan Product Jelas Secara <span class="text-tertiary uppercase">Legalitas</span> ! Serta Paham <span class="text-tertiary uppercase">Kandungan</span> Isi Product!</h1>
        <h2 class="text-center font-semibold text-dark text-base lg:text-xl mt-5">Efek samping pemakaian krim murah abal-abal belum lolos uji legalitas <span class="font-bold text-tertiary">BPOM</span> :</h2>
        <p class="font-semibold mt-5 text-base lg:text-xl text-center text-dark">Memang hasilnya gak usah diragukan lagi, krim bermercury sudah pasti hasilnya instan. Dalam waktu seminggu atau dua minggu, kulit sudah terlihat putih, jerawat hilang, kulit tampak halus dan pori-pori mengecil. Hasil instan ini membuat banyak wanita puas, padahal ada bahaya yang sangat besar mengancam kesehatan mereka yang memakai cosmetic yang mengandung mercury ini.</p>
        <p class="font-semibold mt-5 text-base lg:text-xl text-center text-dark">Tapi untung banget nih <span class="font-bold text-tertiary">NMGSKINCARE</span>  berhasil menyelamatkan banyak  wanita dari krim abal-abal yang berkandungan <span class="text-tertiary uppercase">Mercury</span>. Tak hanya itu mereka juga mendapatkan wajah yang sehat serta <span class="text-tertiary uppercase">glowing!</span></p>
        <img class="w-full lg:w-1/3 mt-10 mx-auto" src="assets/images/16 luxury.png" alt="luxury" />
        <h1 class="uppercase text-xl lg:text-2xl mt-10 text-dark font-bold text-center">Memperkenalkan</h1>
        <p class="font-semibold text-base lg:text-xl mt-5 text-center text-dark">Paket Luxury Daily Routine untuk menemani aktivitasmu setiap hari. Memiliki fungsi memperkuat Skin barierr kulit, Meregenerasi kulit, sebagai anti acne, menjaga kesehatan dan kecantikan kulit agar selalu tampak glowing & cerah.</p>

        <p class="font-semibold text-base lg:text-xl mt-5 text-center text-dark">Paket luxury terdiri dari :</p>

        <ul class="mt-5 font-semibold text-base lg:text-xl text-center text-tertiary">
          <li>- NMG FACE WASH</li>
          <li>- NMG LUXURY NIGHT CREAM</li>
          <li>- NMG WHITENING DAY CREAM</li>
          <li>- NMG FACE TONER</li>
        </ul> 

        <div class="flex flex-col lg:flex-row justify-center pt-10 text-xl">
          <img class="w-full lg:w-1/3" src="assets/images/14 luxury serum.png" alt="Luxury Serum" />
          <img class="w-full lg:w-1/3" src="assets/images/9 miracle gold serum.png" alt="Miracle Gold Serum" />
        </div>
      </div>
    </section>
    <section class="bg-quaternary pt-5 lg:pt-10 pb-5 lg:pb-10">
      <div class="container">
        <h1 class="uppercase text-xl lg:text-2xl font-bold text-dark text-center">Kenapa NMG Skincare Menjadi Pilihan Terbaik Saat Ini ?</h1>
        <img class="w-full lg:w-1/3 mx-auto mt-10" src="assets/images/Logo-Badan-POM-RI.png" alt="Logo BPOM" />
        <p class="text-center text-base lg:text-xl mt-5 font-semibold text-dark">Tahukah kamu bahwa produk kecantikan tanpa <span class="text-tertiary font-bold">Sertifikat BPOM</span>, kandungannya bisa saja terdapat bahan yang berbahaya. Kabar baiknya <span class="text-tertiary font-bold">NMG SKINCARE</span> telah lulus sertifikat BPOM sehingga bahannya sudah terjamin aman.</p>
        <img class="w-full lg:w-1/3 mx-auto mt-10" src="assets/images/gender sign.png" alt="Gender Sign" />
        <p class="font-semibold text-center text-dark text-base lg:text-xl mt-5">Skincare sering sekali hanya ditujukan untuk kaum hawa, namun Rangkaian <span class="text-tertiary font-bold">NMG SKINCARE</span> bisa digunakan baik <span class="text-tertiary font-bold">Perempuan & Laki-laki</span> loh!</p>
        <img class="w-full lg:w-1/3 mx-auto mt-10" src="assets/images/Penghargaan NMG.jpg" alt="Penghargaan NMGSKINCARE" />
      </div>
    </section>
    <section class="bg-gray-100 pt-5 lg:pt-10 pb-5 lg:pb-10">
      <div class="container">
        <h1 class="uppercase text-xl lg:text-2xl font-bold text-dark text-center">Kandungan Utama NMG Skincare</h1>
        <img class="w-full lg:w-1/3 mx-auto mt-10" src="assets/images/Caviar.jpg" alt="Caviar" />
        <p class="text-center text-base lg:text-xl mt-5 font-semibold text-dark">Caviar Adalah telur ikan strugeon yang sangat langka berasal dari Negara Amerika Utara. Caviar tergolong bahan alami dengan kualitas premium yang memiliki berbagai macam manfaat bagi kecantikan kulit. Para bintang Hollywood menyukai product cosmetic caviar, karena dapat memperlambat penunaan & memberikan kelembaban pada kulit.</p>
        <img class="w-full lg:w-1/3 mx-auto mt-10" src="assets/images/caviar 2.jpg" alt="Caviar 2" />
        <p class="font-semibold text-center text-dark text-base lg:text-xl mt-5">Caviar memiliki kandungan vitamin yang baik untuk kecantikan kulit. Seperti vitamin A, D, B1, B2, B6, Omega 3, serta beberapa asam amino seperti glisin, lisin, histidin, arginine, dan asparagin.</p>
        <p class="font-semibold text-center text-dark text-base lg:text-xl mt-5">
          Berikut Manfaat Caviar untuk Kulit Wajah kamu :
        </p>
        <div class="flex justify-center items-center">
          <div class="w-full lg:w-1/2 font-semibold text-base lg:text-xl ml-10 lg:ml-0 text-dark mt-5">
            <ul>
              <li>1. Memperlambat proses penuaan</li>
              <li>2. Mengandung Collagen yang membuat tekstur kulit tetap halus</li>
              <li>3. Mempercepat Regenerasi kulit</li>
              <li>4. Mengencangkan dan Menghidrasi kulit</li>
              <li>5. Menangkal Radikal bebas dan melawan Pigmentasi</li>
              <li>6. Mencegah penyakit kulit dan mencerahkan kulit</li>
            </ul>
          </div>
        </div>
        <img class="w-full lg:w-1/2 mx-auto mt-10" src="assets/images/beautyjournalid.png" alt="caviar on journal id" />
      </div>
    </section>
    <section class="bg-secondary pt-5 lg:pt-10 pb-5 lg:pb-10">
      <div class="container">
        <h1 class="text-center text-xl lg:text-2xl font-bold text-dark">Apa Kata Mereka Tentang <span class="text-tertiary">NMG SKINCARE</span></h1>
        <div id="carouselExampleControls" class="carousel slide relative mt-10" data-bs-ride="carousel">
          <div class="carousel-inner relative w-full overflow-hidden">
            <!-- Desktop Version -->
            <div v-if="!isMobile">
              <div v-for="(n, i) in (27 / 3)" :class="{ 'active': i === 0 }"  class="carousel-item relative float-left w-full">
                <div class="flex">
                  <img v-for="(x, j) in 3" class="w-1/3 h-[500px]" :src="`assets/images/testi/testi-${(i*3)+j+1}.jpg?${version}`" :alt="`testi-${(i*3)+j+1}.jpg?v=${version}`" />
                </div>
              </div>
            </div>
            <!-- Mobile Version -->
            <div v-if="isMobile">
              <div v-for="(n, i) in 26" :class="{ 'active': i === 0 }" class="carousel-item relative float-left w-full">
                <img class="w-full h-[500px]" :src="`assets/images/testi/testi-${i+1}.jpg?${version}`" :alt="`testi-${i+1}.jpg?v=${version}`" />
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
    <section class="bg-gray-100 pt-5 lg:pt-10 pb-5 lg:pb-10">
      <div class="container">
        <img class="mx-auto" src="assets/images/paket.png" alt="paket" />
        <h1 class="text-center mt-5 lg:mt-10 text-dark font-semibold text-base lg:text-3xl uppercase">Harga normal 1 Paket Luxury + 1 Luxury serum</h1>
        <h1 class="text-center mt-5 lg:mt-10 text-red-500 font-bold text-3xl lg:text-5xl line-through">535.000</h1>
        <h1 class="text-center mt-5 lg:mt-10 text-red-500 font-bold text-3xl lg:text-5xl line-through">435.000</h1>
        <h1 class="text-center mt-5 lg:mt-10 text-dark font-semibold text-xl lg:text-2xl">Promo hari ini menjadi</h1>
        <h1 class="text-center mt-5 lg:mt-10 text-red-500 font-bold text-3xl lg:text-5xl">300.000</h1>
        <p class="text-center text-dark text-base lg:text-xl font-semibold mt-5">Harga yang tertera free subsidi ongkir via shopee & wa</p>
        <div class="flex mt-5 lg:mt-10">
          <a class="mx-auto rounded-full text-center bg-primary px-5 py-2 text-white font-semibold text-xl lg:text-3xl animate-bounce hover:animate-none transition duration-300 ease-out hover:bg-opacity-60" target="_blank" href="https://api.whatsapp.com/send?phone=+6287861179261&text=Hallo,%20saya%20mau%20ambil%20promo%20paket%20luxury%20%2B%20serum%20NMG SKINCARE">Ambil Promo Sekarang</a>
        </div>
        <h1 class="text-center font-semibold text-tertiary mt-5 text-base lg:text-xl">Ambil Promo Sekarang Sebelum Promo Berakhir</h1>
        <h2 class="text-center font-semibold text-tertiary mt-5 text-base lg:text-xl">Pembayaran bisa TF & bisa melakukan pembayaran COD (Bayar ketika Barang Sudah Sampai)</h2>
        <h2 class="text-center font-semibold text-dark mt-5 text-base lg:text-xl">Sudah 20.000++ paket NMG terjual</h2>
        <h1 class="text-center font-semibold text-dark mt-5 text-base lg:text-xl">Biaya Konsultasi Dengan Beauty Expert = <span class="line-through text-red-500">Rp 150.000</span> (<span class="font-bold text-tertiary">GRATIS</span>)</h1>
        <h1 class="text-center font-semibold text-dark mt-5 text-base lg:text-xl">Kamu Akan Dihubungi Oleh Beauty Consultant Kami, Jadi Kamu Akan Mendapatkan Solusi Tepat dan Terbaik Untuk Masalah Kulit Wajahmu.</h1>
        <h1 class="text-center font-semibold text-tertiary mt-5 text-base lg:text-xl uppercase">Apakah Cocok Untuk Saya ?</h1>
        <h1 class="text-center font-semibold text-dark mt-5 text-base lg:text-xl">NMG Bisa untuk Pemula, maupun yang sudah pakai Skincare Dokter/Cream Racikan Sebelumnya, Bahkan aman untuk kulit sensitif sekalipun.</h1>
        <h1 class="text-center font-semibold text-tertiary mt-5 text-base lg:text-xl uppercase">Apakah Kemahalan ?</h1>
        <h1 class="text-center font-semibold text-dark mt-5 text-base lg:text-xl">Jelas tidak, dengan bahan aktif permium dari amerika yang alami. Skin Care jutaan tapi hanya dengan ratusan ribu Masih Kemahalan ??? Kamu Bisa Juga Beli Luxury Serum <span class="text-red-500">135.000</span></h1>
        <div class="flex mt-5 lg:mt-10">
          <a class="mx-auto rounded-full text-center bg-primary px-5 py-2 text-white font-semibold text-xl lg:text-2xl animate-bounce hover:animate-none transition duration-300 ease-out hover:bg-opacity-60" target="_blank" href="https://api.whatsapp.com/send?phone=+6287861179261&text=Hallo,%20saya%20mau%20pesan%20NMGSKINCARE%20dan%20konsultasi%20sekarang" title="Whatsapp">
            <svg class="inline-block" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 418.135 418.135" style="enable-background:new 0 0 418.135 418.135;" xml:space="preserve">
            <g>
              <path style="fill:#FFFF;" d="M198.929,0.242C88.5,5.5,1.356,97.466,1.691,208.02c0.102,33.672,8.231,65.454,22.571,93.536
                L2.245,408.429c-1.191,5.781,4.023,10.843,9.766,9.483l104.723-24.811c26.905,13.402,57.125,21.143,89.108,21.631
                c112.869,1.724,206.982-87.897,210.5-200.724C420.113,93.065,320.295-5.538,198.929,0.242z M323.886,322.197
                c-30.669,30.669-71.446,47.559-114.818,47.559c-25.396,0-49.71-5.698-72.269-16.935l-14.584-7.265l-64.206,15.212l13.515-65.607
                l-7.185-14.07c-11.711-22.935-17.649-47.736-17.649-73.713c0-43.373,16.89-84.149,47.559-114.819
                c30.395-30.395,71.837-47.56,114.822-47.56C252.443,45,293.218,61.89,323.887,92.558c30.669,30.669,47.559,71.445,47.56,114.817
                C371.446,250.361,354.281,291.803,323.886,322.197z"/>
              <path style="fill:#FFFF;" d="M309.712,252.351l-40.169-11.534c-5.281-1.516-10.968-0.018-14.816,3.903l-9.823,10.008
                c-4.142,4.22-10.427,5.576-15.909,3.358c-19.002-7.69-58.974-43.23-69.182-61.007c-2.945-5.128-2.458-11.539,1.158-16.218
                l8.576-11.095c3.36-4.347,4.069-10.185,1.847-15.21l-16.9-38.223c-4.048-9.155-15.747-11.82-23.39-5.356
                c-11.211,9.482-24.513,23.891-26.13,39.854c-2.851,28.144,9.219,63.622,54.862,106.222c52.73,49.215,94.956,55.717,122.449,49.057
                c15.594-3.777,28.056-18.919,35.921-31.317C323.568,266.34,319.334,255.114,309.712,252.351z"/>
              </g>
            </svg> Saya Pesan & Konsultasi Sekarang
          </a>
        </div>
      </div>
    </section>
    <section id="reseller" class="bg-secondary pt-10 pb-5">
      <div class="container">
        <h1 class="text-2xl font-semibold text-center text-slate-700">Cari <span class="text-tertiary">Reseller</span></h1>
        <form class="text-center mt-5">
          <select class="py-3 px-5 rounded-lg bg-transparent outline-none border-2 border-slate-700 text-slate-700" v-model="data.region" name="region" id="region" @change="selectRegion()">
            <option value="">Pilih Kota</option>
            <option v-for="region in regions" :value="region.text">{{ region.text  }}</option>
          </select>
        </form>
        <div class="max-w-lg mx-auto">
          <div class="shadow-md shadow-slate-700 mt-10 rounded-lg bg-white overflow-auto">
            <table class="w-full overflow">
              <thead class="text-slate-700 text-left">
                <th class="p-2 font-semibold">
                  Nama
                </th>
                <th class="p-2 font-semibold">
                  No Whatsapp
                </th>
                <th class="p-2 text-center font-semibold">
                  Kontak
                </th>
              </thead>
              <tbody class="text-slate-700">
                <tr class="bg-slate-300" v-if="!data.resellers.length">
                  <td colspan="3" class="p-2 text-center text-sm text-red-500">Data tidak ditemukan. Pilih Kota!</td>
                </tr>
                <tr class="odd:bg-slate-300" v-else v-for="reseller in data.resellers">
                  <td class="p-2">{{ reseller.name }}</td>
                  <td class="p-2">{{ reseller.wa }}</td>
                  <td class="p-2">
                    <div class="flex justify-center gap-3">
                      <a target="_blank" :href="`https://api.whatsapp.com/send?phone=+${reseller.wa}&text=Hallo,%20saya%20mau%20konsultasi%20tentang%20NMGSKINCARE`" title="Whatsapp">
                        <img class="w-5" src="assets/images/wa.svg" alt="whatsapp" />
                      </a>
                      <a target="_blank" :href="`https://www.instagram.com/${reseller.name}/`" title="Instagram">
                        <img class="w-5" src="assets/images/ig.svg" alt="instagram" />
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-white p-5">
      <div class="flex justify-center items-center gap-5">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=+6287861179261&text=Hallo,%20saya%20mau%20konsultasi%20tentang%20NMGSKINCARE" title="Whatsapp">
          <img class="w-8" src="assets/images/wa.svg" alt="whatsapp" />
        </a>
        <a target="_blank" href="https://www.instagram.com/nmg.skincare/" title="Instagram">
          <img class="w-8" src="assets/images/ig.svg" alt="instagram" />
        </a>
        <a target="_blank" href="https://www.tiktok.com/@nmg.skincare" title="Tiktok">
          <img class="w-8" src="assets/images/tiktok.svg" alt="tiktok" />
        </a>
        <a target="_blank" href="https://shopee.co.id/nmg.skincare?smtt=0.183659619-1650432375.9" title="Tiktok">
          <img class="w-8" src="assets/images/shopee.svg" alt="shopee" />
        </a>
      </div>
      <p class="text-dark text-sm text-center mt-5">Developed with 💓 for nmgskincare.com&copy;2022</p>
    </footer>
    <div class="flex flex-col w-12 px-2 py-3 fixed right-0 top-[50%] -translate-y-[50%] items-center gap-4 bg-white rounded-tl-lg rounded-bl-lg">
      <a target="_blank" href="https://api.whatsapp.com/send?phone=+6287861179261&text=Hallo,%20saya%20mau%20konsultasi%20tentang%20NMGSKINCARE" title="Whatsapp">
        <img class="w-full" src="assets/images/wa.svg" alt="whatsapp" />
      </a>
      <a target="_blank" href="https://www.instagram.com/nmg.skincare/" title="Instagram">
        <img class="w-full" src="assets/images/ig.svg" alt="instagram" />
      </a>
      <a target="_blank" href="https://www.tiktok.com/@nmg.skincare" title="Tiktok">
        <img class="w-full" src="assets/images/tiktok.svg" alt="tiktok" />
      </a>
      <a target="_blank" href="https://shopee.co.id/nmg.skincare?smtt=0.183659619-1650432375.9" title="Tiktok">
        <img class="w-full" src="assets/images/shopee.svg" alt="shopee" />
      </a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  <!-- DEV MODE -->
  <!-- <script src="assets/js/vue.global.js"></script> -->
  <!-- PRO MODE -->
  <script src="assets/js/vue.global.prod.js"></script>
  <script src="assets/js/script.js?v=1"></script>
</body>
</html>